.List {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.List > input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(220, 220, 220); /*이렇게하면 아래 공간만 음영이 생김 -> 직접 화면확인해야 이해가능*/
    padding: 15px 0px ; /*위아래만 여백 추가. -> 다른 설정 때문인지 아니면 4개의 요소를 전부처리해야 값이 적용되는건지는 확인x*/

}

.List > input:focus {
    outline: none; /*선택시 테두리 포커스 안가게 처리*/
    border-bottom: 1px solid rgb(37, 147, 255); /*하단에만 해당색 처리*/
}

.List .todos_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}