@font-face {
  /* src 경로의 파일을 font-family에 적용한 이름으로 사용할 수 있다 */
  font-family: "NanumPenScript";
  src: url("/NanumPenScript-Regular.ttf");
}

html, body {
  margin: 0px;
  width: 100%;
  /* 배경 연한 회색 설정 */
  background-color: rgb(246, 246, 246); 
  display: flex;
  /* 페이지 하단부까지 페이지가 올라가지않고 여백이 발생하는 것에 대한 대응 설정  */
}

/* root 컴포넌트의 백그라운드 흰색으로설정.
 왜? -> 리액트의 모든 컴포넌트들은 index.html의 root컴포넌트로 부터 랜더링 됨으로
    root의 백그라운드 설정으로 모든 컴포넌트의 기본 백그라운드를 설정가능
    약간 index.css가 빈 캠퍼스고 그 위에 각 컴포넌트가 올라갔다 내려갔다 하는 구조로 이해함. 
    고로 각 컴포넌트당 따로 백그라운드 색상이 있을수 있지만 기본적인 도화지의 색은 다르고 이걸 설정하기 위해선 root에 적용이 필요한듯?
  특정 컴포넌트에 관한 css 설정은 #으로 지정하나? -> 아님 컴포넌트 설정은 . 을 사용해야함.
*/
#root {
  background-color: white;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
  /* 메인 화면 박스에 그림자 음영주는 설정. */
  padding: 0px 20px;
}

/* 요소의 모든 body 태그에 폰트 적용 */
body * {
  font-family: "NanumPenScript";
}